@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Witajcie na mojej stronie internetowej, aby uzyskać dostęp przelej pieniądze.</p>
